{% extends "index.html" %} {% block content %}{% load crispy_forms_tags %}
{% include "navbar_admin.html" %}
<div class="container py-3">
    <div class="row py-3 justify-content-center">
        <div class="col-md-9">
            <h2 class="mb-4 text-center">Editar Género</h2>
            <form method="post" role="form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-primary btn-lg px-3">Actualizar Género</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}