{% extends 'index.html' %}
{% load filters %}

{% block content %}
<h1>Carrito de Compras</h1>

{% if request.session.carrito %}
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            
            {% for producto in productos_carrito %}
                    <tr>
                        <td>{{ producto.producto }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.price }}</td>
                        <td>{{ producto.subtotal }}</td>
                        <td>
                            <form action="{% url 'eliminar_del_carrito' producto.producto.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <strong>Total: </strong>{{ total }}
    </div>
{% else %}
    <p>Tu carrito está vacío.</p>
{% endif %}

<a href="{% url 'limpiar_carrito' %}">Limpiar carrito</a>
{% endblock content %}


