{% extends "index.html" %}

{% block content %}
{% include "navbar_admin.html" %}
<div class="container-fluid bg-light py-2">
    <div class="col-md-9 m-auto text-center">
        <h5 class="h5">Lista de Productos</h5>
    </div>
</div>

<div class="container py-2">
    <div class="row">
        <div class="col-md-12 m-auto">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>
                            <a href="{% url 'product_detail' product.pk %}" class="btn btn-info btn-sm">Detalle</a>
                            <a href="{% url 'product_update' product.pk %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Estás seguro de querer eliminar este producto?');">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}