{% extends 'index.html' %}

{% block content %}
  <div class="main_protsan">
    <div class="div_img_protsan">
      <img class="img_protsan" src="/media/products/protsan1.png" alt="" />
    </div>
    <div class="div_derecho_protsan">
      <div class="d-flex flex-column">
        <h1 class="text-center mt-4 mb-4 titulo_principal_protsan">Mejora la Salud de tu Próstata con PROTSAN</h1>
        <span>¿Vas varias veces al baño durante la noche?</span>
        <span>¿Experimentas molestias o dolor al momento de orinar?</span>
        <span>¿Sufres de dolor en la zona pélvica o en la espalda?</span>
        <span>¿Sientes que tu desempeño con tu pareja no es el mismo de antes?</span>
        <span class="mt-2"><strong>Si te identificas con alguno de estos síntomas, es posible que estés experimentando una inflamación de la próstata.</strong></span>
      </div>

      <div class="mt-4">
        <p>
          <span class="protsan_formula fw-bold">Protsan</span> es la fórmula 100% natural y definitiva para prevenir y mejorar tu salud prostática.
        </p>
        <div class="d-flex flex-column">
          <span>Es común que los hombres enfrenten desafíos relacionados con la próstata, especialmente a medida que envejecen. De hecho, <span class="fw-bold">desde los 40 hasta los 55 años,</span> hasta tres cuartas partes de ellos experimentan problemas en esta área. Para aquellos que superan los 80 años, el riesgo aumenta, afectando a casi todos en algún grado.</span>
          <span class="mt-4 mb-4"><span class="fw-bold">Nuestra fórmula única</span> para el cuidado de la próstata se basa en componentes de origen natural que son tanto efectivos como seguros, eliminando la preocupación por efectos secundarios adversos. Ofrecemos una opción confiable y económica frente a los tratamientos médicos convencionales y procedimientos quirúrgicos.</span>
          <span>Además, nuestro suplemento está diseñado para <span class="fw-bold">aliviar los síntomas incómodos</span> como las ganas urgentes de orinar y las visitas frecuentes al baño, mejorando a su vez el flujo urinario.</span>
        </div>
        <div class="d-flex flex-column mt-4 fw-bold">
          <span><span class="titulo_sec_verde">REGISTRO SANITARIO INVIMA:</span> RSA-003386-2017</span>
          <span>Producido por Laboratorios Biopronat S.A.S.</span>
          <span>Vigilados por el Ministerio de Salud</span>
        </div>
      </div>

      <div class="">
        <h2 class="text-center mt-4 mb-4 titulo_secundario_protsan">Beneficios de PROTSAN</h2>
        <!-- Lista de Beneficios -->
        <ul>
          <li>
            <span class="fw-bold">Prevén el cáncer de próstata</span> con un producto 100% natural y eficaz.
          </li>
          <li>Mejora la salud de la próstata reduciendo la urgencia urinaria y la micción frecuente.</li>
          <li>
            Aumenta tu energía y <span class="fw-bold">mejora tu vida íntima.</span>
          </li>
          <li>Reduce la posibilidad de infecciones urinarias.</li>
          <li>Te puede ayudar a la reducción de sangrado después de la cirugía de próstata.</li>
          <li>Elimina esos dolores de la espalda baja y el dolor pélvico crónico.</li>
          <li>
            Te puede ayudar a <span class="fw-bold">mejorar los problemas urinarios</span> y evitar que te levantes al baño muchas veces en la noche, disminuyendo la frecuencia urinaria.
          </li>
        </ul>
      </div>

      <div class="">
        <div class="container">
          <h2 class="text-center mt-4 mb-4 titulo_secundario_protsan">Recomendado por Doctores</h2>
          <blockquote class="blockquote text-center">
            <p class="">"El consumo de una dieta abundante en carotenoides como el LICOPENO reduce significativamente el riesgo de enfermedades de la próstata."</p>
            <footer class="blockquote-footer">Especialistas en Salud Masculina</footer>
          </blockquote>
        </div>
      </div>

      <div class="">
        <h2 class="text-center mt-4 mb-4 titulo_secundario_protsan">¡Obtén PROTSAN Ahora!</h2>
        <p class="text-center">Disfruta de una vida íntima saludable y prevén problemas asociados a la próstata.</p>
        <div class="p-4 section_precios">
          <p class="fw-bold text-center text-secondary mt-3 fs-2">
            <strong>Precios a tu alcance</strong>
          </p>
          <ul class="fs-6">
            <li>
              1 unidad cuesta solo <strong class="fw-bold text-secondary">$79.900</strong>
            </li>
            <li class="mt-2 mb-2">
              2 unidades <strong class="fw-bold text-secondary">$134.900</strong> con descuento del
            </li>
            <li>
              Paga dos y lleva 3 por solo <strong class="fw-bold text-secondary">$159.800</strong>
            </li>
          </ul>
          {% include 'pago_contraentrega.html' %}

          <div class="text-center mt-4 mb-4">
            <a href="{% url 'formulario_compra_protsan' %}" class="btn btn-success fw-bold">Pide PROTSAN Hoy</a>
          </div>
        </div>
      </div>
      <div class="div_img_como_tomar_protsan m-auto">
        <img class="img_como_tomar_protsan" src="/media/products/protsan_como_tomar.png" alt="" />
      </div>
      <div class="mt-4 mb-4">
        <h2 class="text-center titulo_secundario_protsan">Los super componentes de Protsan</h2>
        <!-- Lista de Beneficios -->
        <ul>
          <li>Sulfato de zinc</li>
          <li>Stevia (Edulcorante)</li>
          <li>Goma xanthan (Estabilizante)</li>
          <li>Ácido cítrico (Acidulante)</li>
          <li>Sorbato de potasio (Conservante)</li>
          <li>Vitamina C</li>
          <li>Vitamina E</li>
          <li>Nispero</li>

          <li class="fw-bold">Licopeno</li>
          <img class="img_licopeno" src="/media/products/licopeno.jpeg" alt="" />
          <p>
            El <strong class="fw-bold">licopeno</strong>, una sustancia valiosa encontrada abundantemente en los tomates y sus productos derivados, representa una fuente crucial de este compuesto esencial. Este compuesto está vinculado a la disminución en la probabilidad de desarrollar diversos cánceres, destacando especialmente por su efecto en la reducción de la incidencia del cáncer de próstata.
          </p>
          <p>Actuando como un antioxidante potente, el licopeno supera incluso a la vitamina E y la vitamina C en su capacidad para combatir la degeneración celular y los procesos que podrían conducir al cáncer.</p>
        </ul>
      </div>
      {% include 'mas_informacion.html' %}
      <div class="">
        <h2 class="text-center mt-4 mb-4 titulo_secundario_protsan">Preguntas mas frecuentes</h2>
        <!-- Lista de Beneficios -->
        <ul>
          <li>
            <span class="fw-bold">¿En cuánto tiempo suelen observarse mejoras?</span>
            La respuesta de cada persona al tratamiento puede variar; mientras que muchos de nuestros clientes experimentan mejoras significativas en la primera semana, otros pueden notar los beneficios de forma más gradual. Esto se debe a que cada organismo reacciona de manera única al tratamiento.
          </li>
          <li class="mt-2">
            <span class="fw-bold">¿Realizan envíos a todo el país?</span>
            Ofrecemos la opción de <strong>pago contraentrega</strong>en la mayoría de los municipios, dependiendo de la cobertura. En caso de que tu área no cuente con este servicio, puedes optar por el pago anticipado. Luego de realizarlo, puedes recibir tu producto directamente en tu domicilio o recogerlo en la oficina de la transportadora. Simplemente envíanos el comprobante de pago junto con tus datos personales para proceder con el pedido.
          </li>
          <li class="mt-2">
            <span class="fw-bold">¿Cuántos días suele tardar en llegar el paquete?</span>
            El tiempo estimado de entrega de nuestro producto varía de 3 a 6 días hábiles, dependiendo de la ubicación de entrega y la logística disponible.
          </li>
          <li class="mt-2">
            <span class="fw-bold">¿Se debe pagar algo más?</span>
            No hay cargos adicionales tras realizar tu compra. El precio que pagas incluye todo, asegurándote de que el envío sea completamente gratuito.
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item mt-2">
            <span class="fw-bold">Envío gratis 📦</span>
          </li>
          <li class="list-group-item mt-2">
            <span class="fw-bold">Pago contraentrega 💵</span>
          </li>
          <li class="list-group-item mt-2">
            <span class="fw-bold">Satisfacción garantizada ✔️</span>
          </li>
          <li class="list-group-item mt-4 text-center li">
            <span class="fw-bold fs-5">¿Qué esperas? 🌟</span>
            <p>No dejes pasar esta oportunidad única. ¡Pide el tuyo ya!</p>
            <div class="text-center mt-4 mb-2">
              <a href="{% url 'formulario_compra_protsan' %}" class="btn btn-success fw-bold">Pide PROTSAN Hoy</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
